.micronutrient-container {
    position: relative;
    margin-bottom: 20px;
  }
  
  .micronutrient-label {
    position: absolute;
    right: 0;
    top: -20px;
  }

  .macro-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px; /* Añadir un poco de relleno en la parte superior e inferior */
  }
  
  .macro-item {
    text-align: center;
    flex: 1;
  }
  
  .macro-item h6 {
    font-size: 14px;
    text-decoration: underline;
  }
  
  /* Estilos ajustados para los micronutrientes */
  .micronutrient-container {
    position: relative;
    margin-bottom: 20px; /* Aumentado para más espacio entre barras */
  }
  
  .micronutrient-label {
    position: absolute;
    right: 0;
    top: -20px;
  }