.graph-container {
    font-family: Arial, sans-serif;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .donut-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .calorie-objective,
  .calorie-remaining {
    font-size: 14px;
    color: #888;
  }
  
  .macro-values {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #eee;
    padding-top: 20px;
  }